@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

@font-face {
    font-family: Konexy Personal Use;
    src: url(/assets/font/konexy-personal-use-cufonfonts/KonexyPersonalUse.otf);
}


@font-face {
    font-family: Gilroy;
    src: url(/assets/font/Gilroy-FREE/Gilroy-FREE/Gilroy-Light.otf);
}
@font-face {
    font-family: Gilory-semibold;
    src: url(../font/Gilroy-FREE/Gilroy-FREE/Gilroy-SemiBold.ttf);
}
.inter {
    font-family: Inter;
}

.gilroy {
    font-family: Gilroy;
}
.gilroy-semibold {
    font-family: Gilory-semibold;
}

.KonexyPersonalUse {
    font-family: Konexy Personal Use;
}
